div.Haut
{
	background-color:#3B5998;
	width: 600px;
	height: 65px;
	text-align:right;	
}
div.logo
{
	width : 160px;
	height: 65px;
	display: table-cell;
}

div.menu
{
	width: 440px;
	height: 65px;
	vertical-align: middle;
	text-align:right;
	display: table-cell;
}
a.blanc
{
	color:white;
	font-size:10pt;
	Font-Weight: Bold;
}
div.gauche
{
	width: 160px;
	vertical-align: top;
	text-align:center;
	display: inline-block;
	float: left;
}
h1.Titre
{
	font-size: 18pt;
	Font-Weight: Bold;
}
tr.photoamis
{
	width:50%;
	vertical-align: middle;
	text-align:center;
	
}
div.droit
{
	width:440px;
	vertical-align: top;
	text-align:center;
	display: inline-block;
}
div.actu
{
	width:400px;
	vertical-align: top;
	text-align:left;
}
img.publicateur
{
	width:40px;
}
a.actu
{
	color: #3B5998;
	Font-Weight: Bold;
}
td.libprofil
{
	width:35%;
	text-align: right;
	vertical-align: middle;
}
td.valprofil
{
	width:65%;
	text-align: left;
	vertical-align: middle;
}
img.listeAmis
{
	width:80px;
}
a.listeAmis
{
	font-family: Tahoma;
	color:#3B5998;
	font-size: 18pt;
	Font-Weight: Bold;
}
td.listeAmis
{
	width:80px;
}
table.listeAmis
{
	width:440px;
}
td.lienListeAmis
{
	width:360px;
	text-align: left;
	vertical-align: middle;
}
table.inscription
{
	position:absolute;
	top:50%;
    left:50%;
	margin-left:-200;
	margin-top:-200;
	width:400px;
}
body.bleu
{
	background-color:#3B5998;
	color:white;
	font-size: 14pt;
	font-family: Tahoma;
}
td.gauche
{
	text-align: right;
}
td.droite
{
	text-align: left;
}
